body {
  background: #101010;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

label {
  display: block;
}

span {
  display: block;
  color: tomato;
  font-size: x-small;
}

input {
  margin-bottom: .3rem;
}